.top-Container{
    background-color: #E4F9F5;
    width: 200px;
    padding: 10px;
    height: 200px;
    border: solid 10px;
}

.middle-container{
    background-color: red;
    width: 200px;
    height: 200px;
    border: solid 20px;
    margin-left: 238px;
}

.Bottom-container{
    background-color: blue;
    width: 200px;
    height: 200px;
    border: solid 10px;
    margin-left: 475px;
}